<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.contact.telephone %}
            <li>
              <i class="fa fa-phone"></i>&nbsp;
              <span>{{ site.contact.telephone }}</span>
            </li>
            {% endif %}
            {% if site.contact.email %}
            <li>
              <i class="fa fa-envelope"></i>&nbsp;
              <a href="mailto:{{ site.email }}">{{ site.contact.email }}</a>
            </li>
            {% endif %}
            {% if site.weixin_username %}
            <li>
              <i class="fa fa-weixin"></i>&nbsp;
              <span class="username">{{ site.weixin_username }}</span>
            </li>
            {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
